@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');

body{
  height: 100%;
  width: 100%;
}

.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);
}

.title{
  text-align: center;
  text-transform: uppercase;
  font-size: 6vw;
  font-weight: 20px;
  font-family: 'Work Sans', sans-serif;
  padding: 15px;
  letter-spacing: 2px;
  line-height: 10vw;
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 40%;
  border: none;
  padding: 10px;
}

.search-button{
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  background: plum;
  border: none;
  padding: 10px 20px;
  transform: perspective(1px) translateZ(0);
  overflow: hidden;
  transition-duration: .3s;
  transition-property: color, background-color;
}

.search-button:hover {
  background-color:rgb(105, 59, 143);
  color: white;
}


.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
